body{
    font-family: 'Montserrat', sans-serif;
}
.navbar-nav .nav-item .nav-link {
    padding-right:21px;
    padding-left:21px;
    color:white;
    border-radius:22px;
    font-weight: bolder;
}
.navbar-nav .nav-item .nav-link:hover {
    color:black;
    background-color:white;
    border-radius:22px;
}

#movie-trailer{
    /* background-image: url(../Image/bg.jpg); */
    width: 100%;
    height: auto;
    background-repeat: no-repeat !important;
    background-size: cover !important;
    background-position: center !important;
}

#movie-trailer-info{
    position:relative;
    top:60%;
    height: 40%;
}
#movie-trailer-video{
    position:relative;
    top:20%;
    height: 80%;
}

.btn-primaryBgColor{
    background-color: #282B33;
    color:white;

}
/* FIXME: Simple way to add hover on existing css class */
.btn-primaryBgColor:hover{
    background-color: white;
    color:#282B33;

}
.btn-secondaryBgColor{
    background-color: white;
    color:#282B33;
}


.movie-info{
    width: 300px;
    height: 100%;
    border-radius: 10px;
    background-color: #282B33;
    color: white;
    font-size: smaller;
    text-align: center;
    position: absolute;
    top: 12px;
    left: 40%;
    padding: 10px;
}
